:root{
    --text-color: #F2CDCD;
}

html {
    font-family: hack;
}

.body {
    margin: auto;
    max-width: 100ch;
    padding: 2ch;
    background-color: #161320;
    color: var(--text-color);
}

.light-mode {
    background-color: #1A1826;
    color: #161320;
}

.nav {
    border-radius: 15px;
    font-weight: bold;
    background-color: #1A1826;
    color: var(--text-color);
}

.div0 {
    border-radius: 15px;
    background-color: #1E1E2E;
    color: var(--text-color);
}

.light-mode-div0{
    background-color: #F5E0DC;
}

.div1 {
    border-radius: 15px;
    background-color:#1A1826;
    color: var(--text-color);
}

.light-mode-div1{
    background-color: #F2CDCD;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

a {
    color: var(--text-color);
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#frame {
    width: 100%;
    border-radius: 15px;
}
