:root{
    --text-color: #F2CDCD;
}

html {
    font-family: 'monospace';
    word-wrap: break-word;
}

.body {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #161320;
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.light-mode {
    background-color: #f5e0dc;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23f2cdcd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

.nav {
    border-radius: 10px;
    font-weight: bold;
    background-color: #1E1E2E;
    color: var(--text-color);
    outline: 2px solid #575268;
}

.div0 {
    border-radius: 10px;
    background-color: #1E1E2E;
    color: var(--text-color);
    outline: 2px solid #575268;
}

.light-mode-div0{
    background-color: #F5E0DC;
    transition: box-shadow 1s;
    box-shadow: 0px 5px 15px; 
}

.div1 {
    border-radius: 10px;
    background-color:#1A1826;
    color: var(--text-color);
    outline: 2px solid #575268;
}

.light-mode-div1{
    background-color: #F5E0DC;
    box-shadow: 0px 5px 15px; 
    transition: box-shadow 1s;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

a {
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px #C3BAC6;
}

#frame {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}
