:root{
    --text-color: #F2CDCD;
}

html {
    font-family: 'Courier New';
}

.body {
    margin: auto;
    max-width: 100ch;
    padding: 2ch;
    background-color: #161320;
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.light-mode {
    background-color: #D9E0EE;
    color: #161320;
}

.nav {
    font-weight: bold;
    background-color: #1A1826;
    color: var(--text-color);
}

.div0 {
    background-color: #1E1E2E;
    color: var(--text-color);
}

.light-mode-div0{
    background-color: #ffffff;
    outline: 2px solid #575268;
}

.div1 {
    background-color:#1A1826;
    color: var(--text-color);
}

.light-mode-div1{
    background-color: #ffffff;
    outline: 2px solid #575268;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

a {
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#frame {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}
